/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:10px;
	height:100%;
	text-align: left;
	
	width:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.2em;
	text-align: left;
	position: absolute;
}


header {
	font-size: 2em;
}
.container {
	padding:25px;
}
body {
	width: 100%;
	background:rgb(178, 93, 178);
}
main {
	width:130%;
	background:rgba(244, 189, 244, 0.859);
	
}



.element {
	padding:40px;
	
}


section {
	width: 90%;
	background:plum;
	padding:24px;
}

figure{
	font-size: 1em;
}





/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

section {
	width:90%;
}

main {
	width:100%;
}

figure.responsive {
    position:relative;
    padding-top: 20px;  /* 16:9 */
    height: 0px; 
    overflow: hidden; 
   
}

figure.responsive iframe {
   
    max-width: 90%;

}

.section {
	max-width: 40%;
	padding:24px;
}






/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
header {
	font-size: 1.5em;
}
	section{
		display: flex-start;
		width: 30%;
		background: rgb(217, 217, 248);
	}
	main {
		display:flex;
		flex-wrap: wrap;	
	}
	
main {
	background:rgb(169, 169, 239);
	width:110%;
}


body {
	width:140%;
	background:rgb(204, 204, 237);
}

.figure.responsive {
	position:absolute;
	left:0px;
	top:0px;
}

img {
	padding:40px;
	position: absolute;
	top:0px;
	left:70%;
}

	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	header {
		font-size: 1.5em;
		text-align:left;
		line-height: 2.5em;
		position:relative;

	}

	section{
		background: rgb(185, 185, 117);
		width:45%;
		display: flex;
		font
	}
	main {
		background: rgb(241, 241, 111);
		display:flex;
		flex-wrap: wrap;
		height:130%;
		width: 120%;
	
	
		
	}

	.figure.responsive{
		position:absolute;
		right:60%;
		padding:40px;
	}
	body {
		width: 100%;
		background:rgb(236, 237, 204);
	}
	
	img {
		padding:40px;
		position: absolute;
		left:60%;
	}
	

} /* closes 1024px+ */



